extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Gurpreet Singh

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack Web Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Web develoment is very interesting and relatable to my passion and skills as I love to build amazing looking websites from scratch or customise the existing ones with my jQuery, JavaScript and other web development skills.
            br
            br
            | Not only that I always try to fix the problem with my coding skills by finding the bugs in the website functionality to make sure it never occurs again. I possess a strong desire to build a career within your company and to learn more about how to successfully operate as a Front-End Web Developer. 
            br 
            br
            | Lastly, I would like to say that, no matter what it takes I will always complete the given task which is also my core strength.  
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li Node.js
          li React
          li JavaScript
          li HYML/CSS
          li Bootstrap
          li Wordpresss
        h6 Contact Info

        //- Add your own contact info
        ul
          li gurpreet.dhanoa@hotmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/gurpreetsinghdhanoa/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/gurpreetdhan0a' target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  